<div fxLayoutAlign="center center">
    <mat-form-field fxFlex="20%">
        <mat-label> Filter </mat-label>
        <input matInput (keyup)="justFilter($event)" placeholder="Search for your favorite food">
    </mat-form-field>
</div>

<mat-table [dataSource]="menuSource" matSort>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Size </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.size }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.price }} $ </mat-cell>
    </ng-container>

    <ng-container matColumnDef="picture">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Picture </mat-header-cell>
        <mat-cell *matCellDef="let element" class="picture"> <img src="{{ element.picture }}"> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.weight }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="order">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Order </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button (click)="onPay()" mat-raised-button color="primary" > <mat-icon> shopping_cart </mat-icon> </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let rows; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSize]="6" [pageSizeOptions]="[3,6,9]"></mat-paginator>