<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="email" matInput placeholder="E-mail adress" ngModel name="email" email required #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')"> Field should not be empty! </mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')"> Please use the correct email format! </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput placeholder="Password" ngModel name="password" [type]="hide ? 'password' : 'text'" required minlength="6" #passInput="ngModel">
            <mat-icon matSuffix (click)="hide = !hide"> {{ hide ? 'visibility_off' : 'visibility' }} </mat-icon>
            <mat-hint align="end"> {{ passInput.value?.length }} / 6 </mat-hint>
            <mat-error *ngIf="passInput.hasError('required')"> Field should not be empty! </mat-error>
            <mat-error *ngIf="!passInput.hasError('required')"> Please use 6 or more characters! </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput placeholder="First name" ngModel name="fname" required #fnameInput="ngModel">
            <mat-error *ngIf="fnameInput.hasError('required')"> Field should not be empty! </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput placeholder="Last name" ngModel name="lname" required #lnameInput="ngModel">
            <mat-error *ngIf="lnameInput.hasError('required')"> Field should not be empty! </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput placeholder="Adress" ngModel name="adress" required #adressInput="ngModel">
            <mat-error *ngIf="adressInput.hasError('required')"> Field should not be empty! </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Date of birth" [matDatepicker]="picker" ngModel name="birthDate" required #dateInput="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dateInput.hasError('required')"> Field should not be empty! </mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid"> Signup </button>

        <mat-checkbox color="primary" ngModel name="acceptance" required>
            I accept the terms of conditions of use.
        </mat-checkbox>

        <mat-label *ngIf="hasError"> {{ errorText }} </mat-label>
        <button mat-raised-button color="primary" routerLink="/login"> Click to login if you already have an account. </button>
    </form>
</section>