mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: gray;
}

#logo {
    background-color: white;
    border-radius: 30%;
    height: 50px;
    width: 50px;
}

#icon {
    margin-left: 13px;
    margin-top: 13px;
    
}
