<mat-sidenav-container>
    <mat-sidenav #sidenav opened="false">
        <mat-nav-list fxLayoutGap="6px">
            <mat-list-item> <mat-icon color="primary"> face </mat-icon> {{ this.userService.currentUser.fName }} </mat-list-item>
            <mat-list-item routerLink="/menu" (click)="sidenav.close()"> <mat-icon> menu_book </mat-icon> Menu </mat-list-item>
            <mat-list-item routerLink="/signup" (click)="sidenav.close()"> <mat-icon> assignment_ind </mat-icon> Signup </mat-list-item>
            <mat-list-item routerLink="/login" (click)="sidenav.close()">  <mat-icon> assignment </mat-icon> Login </mat-list-item>
            <mat-list-item routerLink="/" (click)="sidenav.close()"> <mat-icon> exit_to_app </mat-icon> Logout </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs id="sidenav">
                <button mat-raised-button (click)="sidenav.toggle()"> <mat-icon> menu </mat-icon> </button>
            </div>

            <div id="logo"> <a routerLink="/"> <mat-icon id="icon"> local_dining </mat-icon> </a> </div>

            <div fxFlex fxLayoutAlign="end" fxLayoutGap="15px" fxHide.xs *ngIf="this.userService.currentUser != null">
                <a routerLink="menu"> Menu </a>
                <a *ngIf="!loggedIn" routerLink="/signup"> Signup </a>
                <a *ngIf="!loggedIn" routerLink="/login"> Login </a>

                <button *ngIf="!loggedIn" mat-raised-button color="accent" (click)="openProfile(this.userService.currentUser.id)">
                    {{ this.userService.currentUser.email }}
                </button>

                <a  *ngIf="loggedIn" routerLink="/" (click)="signOut()"> Logout </a>
            </div>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>