<mat-sidenav-container>
    <mat-sidenav #sidenav opened="false">
        <mat-nav-list>
            <mat-list-item routerLink="/signup" (click)="sidenav.close()"> <mat-icon> assignment_ind </mat-icon> Signup </mat-list-item>
            <mat-list-item routerLink="/login" (click)="sidenav.close()">  <mat-icon> assignment </mat-icon> Login </mat-list-item>
            <mat-list-item routerLink="/" (click)="sidenav.close()"> <mat-icon> exit_to_app </mat-icon> Logout </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button (click)="sidenav.toggle()"> <mat-icon> menu </mat-icon> </button>
            </div>
            <div id="logo"> <mat-icon id="icon"> local_dining </mat-icon> </div>
            <div fxFlex fxLayoutAlign="end" fxLayoutGap="15px" fxHide.xs>
                <button mat-raised-button color="warn" (click)="openProfile(this.userService.currentUser.id)">
                    {{ this.userService.currentUser.email }}
                </button>
                <a routerLink="/"> Home </a>
                <a routerLink="menu"> Menu </a>
                <a routerLink="/signup"> Signup </a>
                <a routerLink="/login"> Login </a>
            </div>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>