<div id="wrapper" align="center">
    <div class="box1">
        <h3 class="text1"> Pay with credit card</h3>

        <h3 class="text2"> Pay with cash (upon arival) </h3>
    </div>

    <div class="box3">
        <mat-icon class="icon1"> arrow_downward </mat-icon>

        <mat-icon class="icon2"> arrow_downward </mat-icon>
    </div>

    <div class="box2">
        <button class="dugme1" mat-raised-button color="primary" routerLink="/cart" (click)="onClose()"> <mat-icon> payment </mat-icon>Credit card </button>

        <button class="dugme2" mat-raised-button color="primary" routerLink="/cart" (click)="onClose()"> <mat-icon> money </mat-icon> Cash </button>
    </div>
</div>
